---
import { Font } from "astro:assets";
import heroImage from "../assets/hero.png";

export const title = "Y'morzin Cup Final";
export const location =
	"Dunterlie Park, Carlibar Road, Barrhead, Glasgow G78 1AA, UK";
export const description = `Come along to the third annual ${title} at ${location} on Saturday 27th June, 2026, from 13:00 to 15:00.`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ymorzincupfinal.com" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={heroImage.src} />

    <!-- X (Twitter) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://ymorzincupfinal.com" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={heroImage.src} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>Y'morzin Cup Final</title>

    <Font cssVariable="--font-alfa-slab-one" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    min-height: 100dvh;

    background: #023423;

    font-family: var(--font-alfa-slab-one), cursive;
    padding-block-start: clamp(1rem, 5vw, 3rem);
    color: #fff;
  }
</style>
